
  <div style="text-align:center" class="mt-5">   
        <h4 class="h4">
          Login page 
        </h4>
      </div>
      <div class="row mt-3 " *ngIf="authError">
        <div class="col-5 offset-4 text-center alert alert-danger">
    
          {{ authError?.message }}
        </div>
      </div>
      <div class="row">
          <div class="col-5 offset-4">
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">              
                  <div class="form-group">
                    <label for="inputAddress2"></label>
                    <input [(ngModel)]="email" type="email" class="form-control" name ="email" id="inputAddress2" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <label for="inputAddress2"></label>
                      <input [(ngModel)]="password" type="password" name="password" class="form-control" id="inputAddress2" placeholder="Password">
                  </div>
                      <div class="row ml-1 mt-2">
                          <button type="submit" class="btn btn-primary">Login</button>  <a class="nav-link ml-3" [routerLink]="['/signup']" routerLinkActive="active" >Create  an Account?</a>
                
                      </div>         
                  </form>
          </div>
    
        </div>
    
