<div class="row" *ngIf="productList">
       <div class="col-md-9">
                <div class="row" *ngFor="let i of rowIndexArray">
                                <div class="mt-2 col-md-3" >
                                    <div class="card">
                                        <div class="card-header text-center">
                                                <img [src]="productList[3*i].imageurl" class="image-fluid" height="150" width="100">
                                        </div>
                                        <div class="card-body">
                                                <span class="text-info text-center">{{ productList[3*i].product_name }}</span>                      
                        
                                        </div>
                                        <div class="card-header text-center">
                                                <span class="text-danger text-center">KES. {{ productList[3*i].price }} <i class="fa fa-money ml-2" aria-hidden="true"></i></span>
                                                <div class="mt-3" *ngIf="!user">
                                                                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm btn-block float-right">Login to buy</a>   
                                                        </div>
                                
                                                        <div class="mt-3" *ngIf="user">

                                                                <form [formGroup]="cart">
                                                                         <input type="hidden" name="p_name" class="form-control" formControlName="p_name" value="{{ productList[3*i].product_name }}" #p_name>
                                                                         <input type="hidden" name ="p_price" class="form-control" formControlName="p_price" value="{{ productList[3*i].price }}" #p_price>
                                                                         <button type="submit" (click) = "createCart(p_name.value, p_price.value)" class="btn btn-sm btn-outline-info">Buy</button>
                                                                </form>
                                                                
                                                        </div>
                                        </div>
                        
                                    </div>
                                </div>
                                <div class="mt-2 col-md-3 " *ngIf="productList[3*i+1]" >
                                        <div class="card">
                                            <div class="card-header text-center">
                                                    <img [src]="productList[3*i+1].imageurl" class="image-fluid" height="150" width="100">
                                            </div>
                                            <div class="card-body">
                                                    <span class="text-info text-center">{{ productList[3*i+1].product_name }}</span>
                                                    
                                            </div>
                                            <div class="card-header text-center">
                                                    <span class="text-danger text-center">KES. {{ productList[3*i+1].price }} <i class="fa fa-money ml-2" aria-hidden="true"></i></span>
                                                    
                                                    <div class="mt-3" *ngIf="!user">
                                                                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm btn-block float-right">Login to buy</a>    
                                                        </div>
                                
                                                        <div class="mt-3" *ngIf="user">
                                                                <form [formGroup]="cart">
                                                                        <input type="hidden" name="p_name" class="form-control" formControlName="p_name" value="{{ productList[3*i+1].product_name }}" #p_name>
                                                                        <input type="hidden" name ="p_price" class="form-control" formControlName="p_price" value="{{ productList[3*i+1].price }}" #p_price>
                                                                        <button type="submit" (click) = "createCart(p_name.value, p_price.value)" class="btn btn-sm btn-outline-info">Buy</button>
                                                               </form>
                                                        </div>
                                                </div>
                            
                                        </div>
                                </div>
                                <div class="mt-2 col-md-3" *ngIf="productList[3*i+2]">
                                        <div class="card">
                                            <div class="card-header text-center">
                                                    <img [src]="productList[3*i+2].imageurl" class="image-fluid" height="150" width="100">
                                            </div>
                                            <div class="card-body">
                                                <span class="text-info text-center">{{ productList[3*i+2].product_name }}</span>
                                                    
                                            </div>
                                            <div class="card-header text-center">
                                                    <span class="text-danger text-center">KES. {{ productList[3*i+2].price }} <i class="fa fa-money ml-2" aria-hidden="true"></i></span>
                                                    <div class="mt-3" *ngIf="!user">
                                                                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm btn-block float-right">Login to buy</a>  
                                                    </div>
                        
                                                    <div class="mt-3" *ngIf="user">
                                                        <form [formGroup]="cart">
                                                                <input type="hidden" name="p_name" class="form-control" formControlName="p_name" value="{{ productList[3*i+2].product_name }}" #p_name>
                                                                <input type="hidden" name ="p_price" class="form-control" formControlName="p_price" value="{{ productList[3*i+2].price }}" #p_price>
                                                                <button type="submit" (click) = "createCart(p_name.value, p_price.value)" class="btn btn-sm btn-outline-info">Buy</button>
                                                       </form>                                                             
                                                        </div>
                                            </div>
                            
                                        </div>
                                </div>
                        
                               
                            </div>
       </div>
       <div class="col-md-3" *ngIf="user">
                <div class="card-header">
                                <h3 class="text-center">Your Cart</h3>
                 </div>     
                        
                         <div class="row">  
                                                        
                                <div class="col-md-12">
                                        <ul style="list-style:none;">
                                         <li *ngFor="let item of product_name_cart">{{ item.name }} : {{ item.price}}</li>
                                        </ul>          
                                </div>
                              
                                <button class="btn btn-primary btn-sm ml-auto mr-auto" *ngIf="isBought" (click)="clearCart()">Buy Products</button>
                
                         </div>
                         
       </div>
   
</div>