
  <div style="text-align:center" class="mt-5">   
        <h4 class="h4">
          Signup page 
        </h4>
        <div class="row mt-3 " *ngIf="authError">
          <div class="col-5 offset-4 text-center alert alert-danger">
    
            {{ authError?.message }}
          </div>
        </div>
    
        <div class="row">
          <div class="col-5 offset-4">
              <form [formGroup]="signupTemplate" (submit)="createUser(signupTemplate.value)" autocomplete="off">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4"></label>
                      <input type="text" formControlName="firstname"  class="form-control" id="inputEmail4" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4"></label>
                      <input formControlName="lastname" type="text"  class="form-control" id="inputPassword4" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress"></label>
                    <input formControlName="address"type="text" class="form-control" id="inputAddress" placeholder="Address">
                  </div>
                  <div class="form-group">
                    <label for="Input4Email"></label>
                    <input formControlName="email" type="email" class="form-control"  id="Input4Email" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <label for="Input4Password"></label>
                      <input formControlName="password" type="password"  class="form-control" id="Input4Password" placeholder="Password">
                  </div>
                     <div class="row mt-2 ml-2">
                        <button type="submit" class="btn btn-primary">Create Account</button><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Already have account?</a>
             
                     </div>          
                     </form>
          </div>
    
        </div>
    
        
      </div>
    